<div class="container">
    <div class="row">
      <form [formGroup]="userForm">
  
        <h4 class="mb-3">Billing address</h4>
  
        <div class="mb-4">
          <label for="firstName">First name</label>
          <input class="form-control" formControlName="firstName" type="text">
        </div>
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
          <div *ngIf="firstName.errors.required">
            FirstName is required.
          </div>
          <div *ngIf="firstName.errors.minlength">
            FirstName must be at least 4 characters long.
          </div>
  
        </div>
  
        <div class="mb-3">
          <label for="lastName">Last name</label>
          <input class="form-control" formControlName="lastName" type="text">
        </div>
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
          <div *ngIf="lastName.errors.required">
            LastName is required.
          </div>
          <div *ngIf="lastName.errors.minlength">
            LastName must be at least 4 characters long.
          </div>
  
        </div>
        <div class="mb-3">
          <label for="userName">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input class="form-control" formControlName="userName" type="text">
          </div>
  
        </div>
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
          <div *ngIf="userName.errors.required">
            UserName is required.
          </div>
          <div *ngIf="userName.errors.minlength">
            UserName must be at least 4 characters long.
          </div>
  
        </div>
        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input class="form-control" formControlName="email" type="email">
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
          <div *ngIf="email.errors.validateEmail">
            Email must be valid.
          </div>
        </div>
        
        <div class="mb-3">
          <label for="address1">Address 1</label>
          <input class="form-control" formControlName="address1" type="text">
        </div>
        <div *ngIf="address1.invalid && (address1.dirty || address1.touched)" class="alert alert-danger">
          <div *ngIf="address1.errors.required">
            Address1 is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="address2">Address 2</label>
          <input class="form-control" formControlName="address2" type="text">
  
        </div>
      </form>
      <div class="d-flex w-100 pt-4 ">
        <button (click)="logFormValue()" class="btn btn-primary">Log Billing address</button>
      </div>
      <div class="d-flex w-50 pt-4 ">
        <p>
          Form Value: {{ userForm.value | json }}
        </p>
      </div>
    </div>
  </div>